appdirs==1.4.4
build==1.2.1
buildozer==1.5.0
colorama==0.4.6
Cython==3.0.10
distlib==0.3.8
filelock==3.15.1
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pexpect==4.9.0
platformdirs==4.2.2
ptyprocess==0.7.0
pygame==2.5.2
pyproject_hooks==1.1.0
sh==1.14.3
toml==0.10.2
virtualenv==20.26.2
